.venv
.env
*.log
*.pot
*.pyc
BRFN/__pycache__/
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.DS_Store
DESD_BRFN/TODOX.md
.gitignore
DESD_BRFN/ml/best_model.keras
DESD_BRFN/.claude
.idea/
.idea
DESD_BRFN/ml/recommendation/old.py
plan.md.md
notes.md
uiPlan.md
