#BLACK BLAZE
B2_APPLICATION_KEY_ID=# unique
B2_APPLICATION_KEY=# unique
B2_BUCKET_NAME= # shared
B2_REGION=# shared 


#STRIPE
STRIPE_PUBLISHABLE_KEY=# shared key
STRIPE_SECRET_KEY=# shared key
STRIPE_WEBHOOK_SECRET=# each dev key

#env info
#its important that once u set a set a dev name, DONT CHANGE IT.
DEV_NAME= # dev name to make unique dir in buckets